---
type IconKey =
  | "dashboard" | "user" | "users" | "calendar" | "bowl" | "image"
  | "chat" | "date" | "map" | "envelope" | "log" | "home" | "help"
  | "settings";

interface Props {
  pathname: string;
  role: "admin" | "editor" | "branch_editor";
}

const { pathname, role } = Astro.props;

const ICONS: Record<IconKey, string> = {
  dashboard: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 3.25C4.25736 3.25 3.25 4.25736 3.25 5.5V8.99998C3.25 10.2426 4.25736 11.25 5.5 11.25H9C10.2426 11.25 11.25 10.2426 11.25 8.99998V5.5C11.25 4.25736 10.2426 3.25 9 3.25H5.5ZM4.75 5.5C4.75 5.08579 5.08579 4.75 5.5 4.75H9C9.41421 4.75 9.75 5.08579 9.75 5.5V8.99998C9.75 9.41419 9.41421 9.74998 9 9.74998H5.5C5.08579 9.74998 4.75 9.41419 4.75 8.99998V5.5ZM5.5 12.75C4.25736 12.75 3.25 13.7574 3.25 15V18.5C3.25 19.7426 4.25736 20.75 5.5 20.75H9C10.2426 20.75 11.25 19.7427 11.25 18.5V15C11.25 13.7574 10.2426 12.75 9 12.75H5.5ZM4.75 15C4.75 14.5858 5.08579 14.25 5.5 14.25H9C9.41421 14.25 9.75 14.5858 9.75 15V18.5C9.75 18.9142 9.41421 19.25 9 19.25H5.5C5.08579 19.25 4.75 18.9142 4.75 18.5V15ZM12.75 5.5C12.75 4.25736 13.7574 3.25 15 3.25H18.5C19.7426 3.25 20.75 4.25736 20.75 5.5V8.99998C20.75 10.2426 19.7426 11.25 18.5 11.25H15C13.7574 11.25 12.75 10.2426 12.75 8.99998V5.5ZM15 4.75C14.5858 4.75 14.25 5.08579 14.25 5.5V8.99998C14.25 9.41419 14.5858 9.74998 15 9.74998H18.5C18.9142 9.74998 19.25 9.41419 19.25 8.99998V5.5C19.25 5.08579 18.9142 4.75 18.5 4.75H15ZM15 12.75C13.7574 12.75 12.75 13.7574 12.75 15V18.5C12.75 19.7426 13.7574 20.75 15 20.75H18.5C19.7426 20.75 20.75 19.7427 20.75 18.5V15C20.75 13.7574 19.7426 12.75 18.5 12.75H15ZM14.25 15C14.25 14.5858 14.5858 14.25 15 14.25H18.5C18.9142 14.25 19.25 14.5858 19.25 15V18.5C19.25 18.9142 18.9142 19.25 18.5 19.25H15C14.5858 19.25 14.25 18.9142 14.25 18.5V15Z" fill=""/></svg>`,
  user: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.5C7.30558 3.5 3.5 7.30558 3.5 12C3.5 14.1526 4.3002 16.1184 5.61936 17.616C6.17279 15.3096 8.24852 13.5955 10.7246 13.5955H13.2746C15.7509 13.5955 17.8268 15.31 18.38 17.6167C19.6996 16.119 20.5 14.153 20.5 12C20.5 7.30558 16.6944 3.5 12 3.5ZM17.0246 18.8566V18.8455C17.0246 16.7744 15.3457 15.0955 13.2746 15.0955H10.7246C8.65354 15.0955 6.97461 16.7744 6.97461 18.8455V18.856C8.38223 19.8895 10.1198 20.5 12 20.5C13.8798 20.5 15.6171 19.8898 17.0246 18.8566ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM11.9991 7.25C10.8847 7.25 9.98126 8.15342 9.98126 9.26784C9.98126 10.3823 10.8847 11.2857 11.9991 11.2857C13.1135 11.2857 14.0169 10.3823 14.0169 9.26784C14.0169 8.15342 13.1135 7.25 11.9991 7.25ZM8.48126 9.26784C8.48126 7.32499 10.0563 5.75 11.9991 5.75C13.9419 5.75 15.5169 7.32499 15.5169 9.26784C15.5169 11.2107 13.9419 12.7857 11.9991 12.7857C10.0563 12.7857 8.48126 11.2107 8.48126 9.26784Z" fill=""/></svg>`,
  users: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 5C8.11929 5 7 6.11929 7 7.5C7 8.88071 8.11929 10 9.5 10C10.8807 10 12 8.88071 12 7.5C12 6.11929 10.8807 5 9.5 5ZM5.5 7.5C5.5 5.29086 7.29086 3.5 9.5 3.5C11.7091 3.5 13.5 5.29086 13.5 7.5C13.5 9.70914 11.7091 11.5 9.5 11.5C7.29086 11.5 5.5 9.70914 5.5 7.5ZM17 7.25C16.5858 7.25 16.25 7.58579 16.25 8C16.25 8.41421 16.5858 8.75 17 8.75C17.6904 8.75 18.25 9.30965 18.25 10C18.25 10.6904 17.6904 11.25 17 11.25C16.5858 11.25 16.25 11.5858 16.25 12C16.25 12.4142 16.5858 12.75 17 12.75C18.5188 12.75 19.75 11.5188 19.75 10C19.75 8.48122 18.5188 7.25 17 7.25ZM4 14.5C3.30964 14.5 2.75 15.0596 2.75 15.75V17.25C2.75 17.6642 2.41421 18 2 18C1.58579 18 1.25 17.6642 1.25 17.25V15.75C1.25 14.2312 2.48122 13 4 13H15C16.5188 13 17.75 14.2312 17.75 15.75V17.25C17.75 17.6642 17.4142 18 17 18C16.5858 18 16.25 17.6642 16.25 17.25V15.75C16.25 15.0596 15.6904 14.5 15 14.5H4ZM18.5 13.75C18.5 13.3358 18.8358 13 19.25 13H20C21.5188 13 22.75 14.2312 22.75 15.75V17.25C22.75 17.6642 22.4142 18 22 18C21.5858 18 21.25 17.6642 21.25 17.25V15.75C21.25 15.0596 20.6904 14.5 20 14.5H19.25C18.8358 14.5 18.5 14.1642 18.5 13.75Z" fill=""/></svg>`,
  calendar: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.41421 2 8.75 2.33579 8.75 2.75V3.75H15.25V2.75C15.25 2.33579 15.5858 2 16 2C16.4142 2 16.75 2.33579 16.75 2.75V3.75H18.5C19.7426 3.75 20.75 4.75736 20.75 6V9V19C20.75 20.2426 19.7426 21.25 18.5 21.25H5.5C4.25736 21.25 3.25 20.2426 3.25 19V9V6C3.25 4.75736 4.25736 3.75 5.5 3.75H7.25V2.75C7.25 2.33579 7.58579 2 8 2ZM8 5.25H5.5C5.08579 5.25 4.75 5.58579 4.75 6V8.25H19.25V6C19.25 5.58579 18.9142 5.25 18.5 5.25H16H8ZM19.25 9.75H4.75V19C4.75 19.4142 5.08579 19.75 5.5 19.75H18.5C18.9142 19.75 19.25 19.4142 19.25 19V9.75Z" fill=""/></svg>`,
  bowl: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 11.5a9 9 0 0 1 18 0 .75.75 0 0 1-.75.75H3.75A.75.75 0 0 1 3 11.5Zm17.5-1.5a.75.75 0 0 0-1.5 0v.5h1.5V10Zm-15 0a.75.75 0 0 1 1.5 0v.5H5.5V10ZM2 14.25a.75.75 0 0 1 .75-.75h18.5a.75.75 0 0 1 .67 1.085l-1.5 3A.75.75 0 0 1 19.75 18h-15.5a.75.75 0 0 1-.67-.415l-1.5-3A.75.75 0 0 1 2 14.25Z" fill=""/></svg>`,
  image: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 3.5A2.25 2.25 0 0 0 3.25 5.75v12.5A2.25 2.25 0 0 0 5.5 20.5h13a2.25 2.25 0 0 0 2.25-2.25V5.75A2.25 2.25 0 0 0 18.5 3.5h-13Zm-.75 2.25c0-.414.336-.75.75-.75h13c.414 0 .75.336.75.75v8.13l-2.97-2.97a.75.75 0 0 0-1.06 0L11 16.13l-2.22-2.22a.75.75 0 0 0-1.06 0L4.75 16.88V5.75ZM8.5 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Z" fill=""/></svg>`,
  chat: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.75 6A2.25 2.25 0 0 1 7 3.75h10A2.25 2.25 0 0 1 19.25 6v8A2.25 2.25 0 0 1 17 16.25h-3.836l-3.36 3.36a.75.75 0 0 1-1.28-.53V16.25H7A2.25 2.25 0 0 1 4.75 14V6Zm2.25-.75a.75.75 0 0 0-.75.75v8c0 .414.336.75.75.75h2a.75.75 0 0 1 .75.75v1.69l2.22-2.22a.75.75 0 0 1 .53-.22H17a.75.75 0 0 0 .75-.75V6a.75.75 0 0 0-.75-.75H7Z" fill=""/></svg>`,
  date: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path d="M12 2a.75.75 0 0 1 .75.75v.5h2.5a.75.75 0 0 1 0 1.5h-2.5v.5a.75.75 0 0 1-1.5 0v-.5h-2.5a.75.75 0 0 1 0-1.5h2.5v-.5A.75.75 0 0 1 12 2Z" fill=""/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.25 9c0-.69.56-1.25 1.25-1.25h15c.69 0 1.25.56 1.25 1.25v10A2.75 2.75 0 0 1 18 21.75H6A2.75 2.75 0 0 1 3.25 19V9Zm1.5.25V19c0 .69.56 1.25 1.25 1.25h12c.69 0 1.25-.56 1.25-1.25V9.25H4.75ZM7.5 12a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 7.5 12Zm0 4a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 0 1.5h-4.5A.75.75 0 0 1 7.5 16Z" fill=""/></svg>`,
  map: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.25c-3.728 0-6.75 3.022-6.75 6.75 0 5.063 5.625 11.25 6.75 12.45 1.125-1.2 6.75-7.387 6.75-12.45 0-3.728-3.022-6.75-6.75-6.75ZM12 11.5a2.25 2.25 0 1 1 0-4.5 2.25 2.25 0 0 1 0 4.5Z" fill=""/></svg>`,
  envelope: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 7.5A2.25 2.25 0 0 1 4.5 5.25h15A2.25 2.25 0 0 1 21.75 7.5v9a2.25 2.25 0 0 1-2.25 2.25h-15A2.25 2.25 0 0 1 2.25 16.5v-9Zm2.25-.75a.75.75 0 0 0-.75.75v.32l8.25 5.156 8.25-5.156V7.5a.75.75 0 0 0-.75-.75h-15Zm15.75 2.93-7.85 4.906a.75.75 0 0 1-.8 0L3.75 9.68V16.5c0 .414.336.75.75.75h15a.75.75 0 0 0 .75-.75V9.68Z" fill=""/></svg>`,
  log: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 3.25A2.25 2.25 0 0 0 3.25 5.5v13A2.25 2.25 0 0 0 5.5 20.75h13a2.25 2.25 0 0 0 2.25-2.25v-13a2.25 2.25 0 0 0-2.25-2.25h-13ZM7 8a.75.75 0 0 1 .75-.75h8.5a.75.75 0 0 1 0 1.5h-8.5A.75.75 0 0 1 7 8Zm0 4a.75.75 0 0 1 .75-.75h8.5a.75.75 0 0 1 0 1.5h-8.5A.75.75 0 0 1 7 12Zm.75 3.25a.75.75 0 0 0 0 1.5h5.5a.75.75 0 0 0 0-1.5h-5.5Z" fill=""/></svg>`,
  home: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.32 2.71a1 1 0 0 1 1.36 0l8.5 8a1 1 0 0 1-1.36 1.46l-.32-.3V19a2.25 2.25 0 0 1-2.25 2.25h-3a.75.75 0 0 1-.75-.75v-4.5h-3v4.5a.75.75 0 0 1-.75.75h-3A2.25 2.25 0 0 1 4.5 19v-7.13l-.32.3a1 1 0 0 1-1.36-1.46l8.5-8Z" fill=""/></svg>`,
  help: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.5a8.5 8.5 0 1 0 0 17 8.5 8.5 0 0 0 0-17ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm10-4.25a2 2 0 0 0-1.732 1 .75.75 0 1 1-1.299-.75A3.5 3.5 0 1 1 12.75 13.197V14a.75.75 0 0 1-1.5 0v-1.5a.75.75 0 0 1 .75-.75A2 2 0 1 0 12 7.75ZM12 17.25a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z" fill=""/></svg>`,
  settings: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="fill-current"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 4.42a.75.75 0 0 1 .73-.92h3.54a.75.75 0 0 1 .73.92l-.34 1.4a7.4 7.4 0 0 1 1.62.94l1.36-.5a.75.75 0 0 1 .9.34l1.77 3.06a.75.75 0 0 1-.16.96l-1.07.94a7.5 7.5 0 0 1 0 1.88l1.07.94a.75.75 0 0 1 .16.96l-1.77 3.06a.75.75 0 0 1-.9.34l-1.36-.5a7.4 7.4 0 0 1-1.62.94l.34 1.4a.75.75 0 0 1-.73.92h-3.54a.75.75 0 0 1-.73-.92l.34-1.4a7.4 7.4 0 0 1-1.62-.94l-1.36.5a.75.75 0 0 1-.9-.34L3.42 14.6a.75.75 0 0 1 .16-.96l1.07-.94a7.5 7.5 0 0 1 0-1.88L3.58 9.88a.75.75 0 0 1-.16-.96l1.77-3.06a.75.75 0 0 1 .9-.34l1.36.5a7.4 7.4 0 0 1 1.62-.94l-.34-1.4ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" fill=""/></svg>`,
};

const sections: {
  heading: string;
  items: { href: string; label: string; iconKey: IconKey; adminOnly?: boolean }[];
}[] = [
  {
    heading: "MENU",
    items: [
      { href: "/admin", label: "Tổng quan", iconKey: "dashboard" },
      { href: "/admin/members", label: "Thành viên", iconKey: "user" },
      { href: "/admin/timeline", label: "Niên đại", iconKey: "calendar" },
      { href: "/admin/traditions", label: "Truyền thống", iconKey: "bowl" },
      { href: "/admin/media", label: "Thư viện ảnh", iconKey: "image" },
      { href: "/admin/quotes", label: "Câu nói", iconKey: "chat" },
      { href: "/admin/dates", label: "Ngày lễ", iconKey: "date" },
      { href: "/admin/locations", label: "Địa điểm", iconKey: "map" },
    ],
  },
  {
    heading: "HỆ THỐNG",
    items: [
      { href: "/admin/hero", label: "Hero homepage", iconKey: "image", adminOnly: true },
      { href: "/admin/settings", label: "Thiết lập", iconKey: "settings", adminOnly: true },
      { href: "/admin/users", label: "Người dùng", iconKey: "users", adminOnly: true },
      { href: "/admin/audit", label: "Nhật ký", iconKey: "log", adminOnly: true },
      { href: "/admin/help", label: "Trợ giúp", iconKey: "help" },
    ],
  },
];

function isActive(href: string) {
  if (href === "/admin") return pathname === "/admin";
  return pathname === href || pathname.startsWith(href + "/");
}
---

<aside
  data-sidebar
  data-collapsed="false"
  class="sidebar fixed top-0 left-0 z-50 flex h-screen w-[290px] flex-col overflow-y-hidden border-r border-gray-200 bg-white px-5 transition-all duration-300 -translate-x-full lg:static lg:translate-x-0"
>
  <div class="flex items-center gap-3 pt-8 pb-7">
    <a href="/admin" class="flex items-center gap-3 min-w-0">
      <span class="flex h-9 w-9 shrink-0 items-center justify-center rounded-lg bg-brand-500 text-white font-semibold text-theme-sm">
        GP
      </span>
      <span class="menu-item-text text-theme-sm font-semibold text-gray-800 leading-tight">
        Gia phả<br />họ Nguyễn
      </span>
    </a>
  </div>

  <nav class="flex flex-1 flex-col overflow-y-auto no-scrollbar duration-300 ease-linear">
    {sections.map((section) => {
      const visible = section.items.filter((i) => !i.adminOnly || role === "admin");
      if (visible.length === 0) return null;
      return (
        <div class="mb-6">
          <h3 class="mb-4 flex text-theme-xs leading-[20px] uppercase text-gray-400">
            <span class="menu-group-title">{section.heading}</span>
            <svg
              class="menu-group-icon mx-auto fill-current"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.99915 10.2451C6.96564 10.2451 7.74915 11.0286 7.74915 11.9951V12.0051C7.74915 12.9716 6.96564 13.7551 5.99915 13.7551C5.03265 13.7551 4.24915 12.9716 4.24915 12.0051V11.9951C4.24915 11.0286 5.03265 10.2451 5.99915 10.2451ZM17.9991 10.2451C18.9656 10.2451 19.7491 11.0286 19.7491 11.9951V12.0051C19.7491 12.9716 18.9656 13.7551 17.9991 13.7551C17.0326 13.7551 16.2491 12.9716 16.2491 12.0051V11.9951C16.2491 11.0286 17.0326 10.2451 17.9991 10.2451ZM13.7491 11.9951C13.7491 11.0286 12.9656 10.2451 11.9991 10.2451C11.0326 10.2451 10.2491 11.0286 10.2491 11.9951V12.0051C10.2491 12.9716 11.0326 13.7551 11.9991 13.7551C12.9656 13.7551 13.7491 12.9716 13.7491 12.0051V11.9951Z"
                fill=""
              />
            </svg>
          </h3>
          <ul class="flex flex-col gap-1">
            {visible.map((item) => (
              <li>
                <a
                  href={item.href}
                  class:list={[
                    "menu-item group",
                    isActive(item.href) ? "menu-item-active" : "menu-item-inactive",
                  ]}
                >
                  <span
                    class:list={[
                      "shrink-0",
                      isActive(item.href) ? "menu-item-icon-active" : "menu-item-icon-inactive",
                    ]}
                    set:html={ICONS[item.iconKey]}
                  />
                  <span class="menu-item-text">{item.label}</span>
                </a>
              </li>
            ))}
          </ul>
        </div>
      );
    })}
  </nav>

  <div class="border-t border-gray-100 py-4">
    <a href="/" class="menu-item menu-item-inactive">
      <span class="menu-item-icon-inactive shrink-0" set:html={ICONS.home} />
      <span class="menu-item-text">Xem trang công khai</span>
    </a>
  </div>
</aside>
